<!-- -->
<ion-header>

  <ion-navbar  color="primary">
    <ion-title>
      <span ion-text>{{ trip.name }}</span>
    </ion-title>
  </ion-navbar>

</ion-header>



<ion-content class="common-bg">

  <div padding>
    <h2 class="text bold">Parabéns Cléia! <small> Você foi a sorteada para o prêmio:</small></h2>
    <h2 class="text bold">{{ trip.name }} </h2>
</div>

 
    <ion-card>

      <ion-slides class="to-top" pager>
        <ion-slide *ngFor="let image of trip.images">
          <img [src]="image" alt="">
        </ion-slide>
      </ion-slides>
      <ion-card-content>
        <div>
          <h2 class="text-center text bold">{{ trip.name }}</h2>
        </div>

      
          <ion-list>
             <ul style="list-style: none; text-align: left; padding-left: 0px;">
               <li>

                <ion-icon name="thumbs-up" ></ion-icon>
                <span>Na cartela</span>
                <ion-badge color="primary">{{ trip.time }}</ion-badge>
               
                
               </li>
              <li>

                <ion-icon name="calendar"></ion-icon>
                <span>Data sorteio</span>
                <ion-badge color="primary">{{ trip.data_sorteio }}</ion-badge>
               
              </li>
             <li>

              <ion-icon name="pricetag"></ion-icon>
              <span>Valor rifa</span>
              <ion-badge color="primary">{{ trip.price_adult | currency:'USD':true }}</ion-badge>
            
             </li>

             <li>

              <ion-icon name="pricetag"></ion-icon>
              <span>Numeros comprados</span>
              <ion-badge color="primary">1212,1213,1214</ion-badge>
            
             </li>

             <li>

              <ion-icon name="pricetag"></ion-icon>
              <span>Numero sorteado</span>
              <ion-badge color="dark">1212</ion-badge>
            
             </li>

             <li>

              <ion-icon name="pricetag"></ion-icon>
              <span>Valor total</span>
              <ion-badge color="primary">$180.00</ion-badge>
            
             </li>

             </ul>
          </ion-list>
        

        <div>
          <ion-segment [(ngModel)]="tab">
            <ion-segment-button value="premio">
             Prêmio
            </ion-segment-button>
            <ion-segment-button value="detalhes">
              Mais detalhes
            </ion-segment-button>
          </ion-segment>
        </div>
        
        <div [ngSwitch]="tab">
          <ion-list *ngSwitchCase="'detalhes'">
            <ul class="highlight" style="
            padding-left: 0px;">
              <p>
                {{ trip.description }}
              </p>
              </ul>
          </ion-list>
        
          <ion-list *ngSwitchCase="'premio'">
        
                <ul class="highlight" style="
                padding-left: 0px;" >
                  <p *ngFor="let highlight of trip.highlights">
                    <ion-icon name="checkmark"  class="text-green" item-start></ion-icon>
                    {{ highlight }}
                  </p>
                </ul>
              
          </ion-list>
        </div>

        <h2 class="text bold">
          Como resgatar meu prêmio?
        </h2>
        <p> 
          s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramb.
        </p>
       
       
       
      </ion-card-content>
    </ion-card>

    <div padding style="padding-top: 0px;">
     
  
    
  
      <div class="clear"></div>
    </div>
  
  
  </ion-content>
  
 